{% extends 'personal/home.html' %}
{% load static %}

{% block content %}

    {% if facultyRegisterForm.errors %}
            <div class="container messages">
                {% for k, v in facultyRegisterForm.errors.items %}
                    <p>{{k}}</p>
                    <p>{{v}}</p>
                {% endfor %}
                
                <div class="dismisser-div flex-center">
                    <div class="dismisser">
                        <i class="fas fa-square-xmark"></i>
                    </div>
                </div>
            </div>
    {% endif %}


    <h4>Register Page</h4>


    <form action="" method="post">
        {% csrf_token %}


        {{facultyRegisterForm.as_p}}

        <button type="submit" class="btn btn-primary">sign in</button>
    </form>

{% endblock %}