@import url(./variables.css);

.login-form-element {
    margin: 1rem 0;
}

.username-element {
    /* display: flex; */
    /* justify-content: space-between; */
}

.username-element > p {
    /* font-family: var(--font-alert); */
    margin: 0 0 0 0;
    color: rgb(255, 140, 0);
    font-weight: 900;
    /* font-size: 1.5rem; */
}